@import "variables";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

body {
  font-family: 'Montserrat', 'Mplus 1p', 'Hiragino Sans', 'Hiragino Kaku Gothic Pro', '游ゴシック', '游ゴシック体', YuGothic, 'Yu Gothic', 'ＭＳ ゴシック', 'MS Gothic', sans-serif;
  display: grid;

  @media (--large) {
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 5rem repeat(2, auto);
  }
  line-height: 1.625;

  & a {
    transition: color 0.3s ease;
    color: var(--green);
    &:visited {
      color: var(--dark-green);
    }
  }

  & > main {
    grid-row: 2;
    grid-column: 1 / span 12;

    & > * {
      grid-column: 1 / span 12;
    }

    & > h2 {
      line-height: 3.5em;
      text-align: center;

      @media (--large) {
        line-height: 7em;
      }
      vertical-align: middle;
      background-color: var(--grey);
      color: var(--green);
      font-size: 1.6em;
      font-weight: 300;
      margin: 0;
    }

    & > section.with-icon {
      @media (--large) {
        text-align: left;
      }
      display: grid;
      padding: 2em 0;

      & img {
        margin: 2em;
      }

      & h3 {
        font-size: 1.2em;
        margin: 0;
        padding: 0;
      }
    }
  }

  & > footer {
    grid-row: 3;
    grid-column: 1 / span 12;
  }
}
