@import "main";
@import "button";

.bg-soudan {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(/images/bg_soudan.png);
}

.bg-soudan h3 {
  font-size: 1.4em;
  align-self: end;
  margin: 0;
  color: black;
}

#soudan {
  display: grid;
  grid-template-columns: repeat(6, 1fr);

  & > section {
    grid-column: 2 / span 4;
    @media (--large) {
      grid-column: 3 / span 2;
      padding: 2em 5em;
    }

    & img {
      justify-self: center;
    }
  }
}

.parallax {
  height: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  justify-items: center;
  grid-gap: 2em;
}
