''
<h2>${ title }</h2>

<section class="company">
  <dl class="inner grid-2">
    <dt>社名</dt>
    <dd>
      ポジティブカンパニー合同会社
    </dd>

    <dt>所在地</dt>
    <dd>
      <dl class="inner grid-2">
        <dt>東京本社</dt>
        <dd>
          〒 102-0082 <a href="https://goo.gl/maps/RPuPCeNtf36SQH5a7">
          東京都千代田区一番町10番地8号 一番町ウエストビル5階
          </a><br />
          TEL/FAX 03-6369-4887<br/>
          <span style="font-size: 0.7em">
            ※お電話でのお問い合わせは、現在受付停止させて頂いております。
          </span>
          <br/>
          <span style="font-size: 0.7em">
            ※オフィスでの対面販売はございません。物流倉庫で在庫保管しております。
          </span>
        </dd>
      </dl>
    </dd>

    <dt>事業内容</dt>
    <dd>
      商品企画デザイン<br/>
      コンテンツ企画制作販売<br/>
      WEBコンサルティング<br/>
      ECサイト運営及び運営代行
    </dd>

    <dt>沿革</dt>
    <dd>
      <table>
        <tr><td>2009年6月</td><td>Positive Company 創業</td></tr>
        <tr><td>2010年9月</td><td>WEB制作及びコンサルティング事業 開始</td></tr>
        <tr><td>2011年4月</td><td>自社EC店 開店</td></tr>
        <tr><td>2011年4月</td><td>自社オリジナル商品 全国販売 開始</td></tr>
        <tr><td>2011年7月</td><td>海外進出</td></tr>
        <tr><td>2017年1月</td><td>ECサイト運営代行サービス 開始</td></tr>
        <tr><td>2019年3月</td><td>本社を麹町（千代田区二番町）へ移転</td></tr>
        <tr><td>2019年4月</td><td>ポジティブカンパニー合同会社 設立</td></tr>
        <tr><td>2022年7月</td><td>六本木オフィスと統合し、本社を千代田区一番町へ移転</td></tr>
      </table>
    </dd>

    <dt>主要取引先（順不同/敬称略）</dt>
    <dd>
      株式会社ナルミヤ・インターナショナル<br/>
      経済産業省 認定経営革新等支援機関<br/>
      他
    </dd>

    <dt>取引銀行</dt>
    <dd>
      三井住友銀行<br/>
      三菱UFJ銀行
    </dd>

    <dt>代表者</dt>
    <dd>
      フェリンガ美香<br/>
      サンエックス株式会社企画デザイン部でキャラクターデザインと商品企画及び版権ビジネス及び、
      大手IT企業でコンテンツビジネスを経験し、2009年に独立。
      多摩美術大学グラフィックデザイン専攻卒。
    </dd>
  </dl>

  <figure class="map inner">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3240.601434274945!2d139.7399558!3d35.6868147!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60188c650222294d%3A0xdc25903aaf9269ce!2z5pel5pys44CB44CSMTAyLTAwODIg5p2x5Lqs6YO95Y2D5Luj55Sw5Yy65LiA55Wq55S677yR77yQ4oiS77yYIOS4gOeVqueUuuOCpuOCp-OCueODiOODk-ODqw!5e0!3m2!1sja!2sat!4v1664632604957!5m2!1sja!2sat" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    <figcaption>[東京本社 所在地]</figcaption>
  </figure>
</section>
''
