''
<h2>${ title }</h2>

<section class="form">
  <div class="inner">
    <form name="contact-jp" method="POST" data-netlify="true" action="/sent/jp">
      <div>
        <label for="form-name-company">御社名</label>
        <input name="御社名" id="form-name-company" />
      </div>
      <div>
        <label for="form-name-person">お名前</label>
        <input name="お名前" id="form-name-person" />
      </div>
      <div>
        <label for="form-address-street">ご住所</label>
        <input name="ご住所" id="form-address-street" />
      </div>
      <div>
        <label for="form-phone">お電話番号</label>
        <input name="お電話番号" id="form-phone" />
      </div>
      <div>
        <label for="form-email">メールアドレス</label>
        <input name="メールアドレス" id="form-email" />
      </div>
      <div>
        <label for="form-url">URL</label>
        <input name="URL" id="form-url" />
      </div>
      <div>
        <label for="form-message">お問合せ内容</label>
        <textarea name="お問合せ内容" id="form-message"></textarea>
      </div>

      <div>
        <input type="submit" value="送信" />
      </div>
    </form>
  </div>
</section>
''
