''
<div id="hero">
  <canvas id="background"></canvas>
  <h2>
    International Business Design
  </h2>
</div>

<script src="/js/background.js"></script>

<section class="news">
  <h2><a href="/info">News</a></h2>
  <div class="inner">
    <table class="news-inner">
      ${ __concatStringsSep "" (map (post: ''
        <tr>
          <td class="time">
            <time datetime="${ post.meta.date }">${ __elemAt (__split " " post.meta.date) 0 }</time>
          </td>
          <td>
            <div class="title"><a href="${ post.url }">${ post.meta.title }</a></div>
          </td>
        </tr>
      '') latestBlogPosts) }
    </table>
  </div>
</section>
''
